# Node / React
node_modules/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python / Flask
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.venv/
venv/
env/

# Environment / Secrets
.env
*.env
